body{
    background-image: url(../images/grass.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    /* height: 2000px; */
}


.arrow-right{
    position: absolute;
    right: 30px;
    bottom: 50px;
    z-index: 2;
}

.arrow-left{
    position: absolute;
    left: 30px;
    bottom: 50px;
    z-index: 2;
  
}


.material-symbols-outlined{
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.705);
    font-size: 40px !important;
    cursor: pointer;
    margin: 5px;
}

.road-container{
    width: 600px;
    min-height: 100vh;
    margin: auto;
    background-color:#222;
    color: #ffffff;
    border-left: 20px solid white;
    border-right: 20px solid white;
    /* position: relative; */
}

.road-cent-line1{
    width: 20px;
    margin: auto;
    background-color: #ffffff;
    height: 150px;
    animation-name: animation2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    position: absolute;
    display: none;
    top: 200px;

}

.road-cent-line2{
    width: 20px;
    margin: auto;
    background-color: #ffffff;
    height: 150px;
    animation-name: animation3;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
    position: absolute;
    display: none;
    top: -150px;
}

.road-cent-line3{
    width: 20px;
    margin: auto;
    background-color: #ffffff;
    height: 150px;
    animation-name: animation4;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 6s;
    position: absolute;
    display: none;
    top: -150px;
}

@keyframes animation2 {
    from{
        top: -150px;
    }

    to{
        top: 115vh;
    }
}

@keyframes animation3 {
    from{
        top: -150px;
    }

    to{
        top: 115vh;
    }
}

@keyframes animation4 {
    from{
        top: -150px;
    }

    to{
        top: 115vh;
    }
}

.bg-dark{
    position: absolute;
    background-color: #222222d5;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 3;

}


.game-info{
    position: absolute;
    width: 500px;
    height: 250px;
    background-color: #ffffff;
    border-radius: 30px;
   
   
    box-shadow: 0px 0px 10px 1px #75ab3b;
    z-index: 4;  
    text-align: center;  

}

#score-update{
    font-size: 25px !important;
    font-weight: bold;
}


.game-info h2{
    text-align: center;
    margin-bottom: 5px;
}

.game-info h3{
    margin: 5px 0px;
}

.game-info ul{
    padding: 0;
    margin-top: 0;
}

.game-info li{
    font-size: large;
    list-style: none;
    text-align: center;
    cursor: pointer;
    
}

.game-info1{
    position: absolute;
    width: 500px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 30px;
    top: 20%;
    left: 31.5%;
    box-shadow: 0px 0px 10px 1px #75ab3b;
    display: none;
    padding-top: 2%;
    z-index: 5;
}


.game-info1 h2{
    text-align: center;
}



.game-info1 ul{
    padding: 0;
}

.game-info1 li{
    font-size: large;
    list-style: none;
    text-align: center;
    cursor: pointer;
    
}


#my-car{
    width: 50px;
    height: 100px;
    position: absolute;
    border-radius: 8px;
    left: 400px;
    z-index: 1;
    display: none;


}

#score-cont{
    position: absolute;
    width: 200px;
    height: 50px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: white;
    left: 5%;
    top: 5%;
    z-index: 2;
}

#score{
    text-align: center;

}
.cars{
    width: 50px;
    height: 100px;
    position: absolute;
      top: 0px;
    left: 400px;
    transform: rotate(180deg);
    border-radius: 10px;
    z-index: 1;

}

.car-animate{
    animation-name: animation1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes animation1 {
    from{
        top: -100px;
    }

    to{
        top: 115vh;
    }
    
}



@media screen and (min-width:850px) and (max-width:1100px) {

   
    .game-info{
        left: 22.5%;
    }
   
    .game-info1{
        left: 22.5%;
    }

}

@media screen and (min-width:651px) and (max-width:849px) {

   
    .game-info{
        left: 15.5%;
    }
   
    .game-info1{
        left: 15.5%;
    }

}





@media screen and (min-width:550px) and (max-width:650px) {
    .road-container{
        width: 500px;
        border-left: 10px solid white;
        border-right: 10px solid white;
    }

    
.game-info{
    width: 400px;
    height: 250px;
    left: 18.5%;
}
    

    
.game-info1{
    width: 400px;
    height: 250px;
    left: 18.5%;
}
    
}

@media screen and (min-width:450px) and (max-width:549px) {
    .road-container{
        width: 420px;
        border-left: 10px solid white;
        border-right: 10px solid white;
    }

    
.game-info{
    width: 400px;
    height: 250px;
    left: 10%;
}
    
.game-info1{
    width: 400px;
 
    left: 10%;
}
    
}

@media screen and (min-width:340px) and (max-width:449px) {
    .road-container{
        width: 330px;
        border-left: 5px solid white;
        border-right: 5px solid white;
    }

    
.game-info{
    width: 330px;
    /* height: 250px; */
    left: 5%;
}
    
.game-info1{
    width: 330px;
    /* height: 250px; */
    left: 5%;
}
    
}